html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'SVN-Avo', sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
}
header,
footer,
main {
  width: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
