#product-detail {
  padding: 150px 0 100px 0;

  header .header-wrap ul a {
    color: #333 !important;
  }
  .product_info {
    display: flex;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .product_info__img {
      width: 40%;
      padding: 0 20px;
      @media screen and (max-width: 992px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        aspect-ratio: 1;
      }
    }
    .product_info__content {
      width: 60%;
      @media screen and (max-width: 992px) {
        width: 100%;

        margin-bottom: 30px;
      }
    }
  }
  .quantity-input {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    button {
      width: 30px;
      border-radius: 0;
      border: none;
      outline: none;
      background-color: #fff;
      font-size: 20px;
    }
    button:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-right: 1px solid #d9d9d9;
    }
    div {
      width: 40px;
      text-align: center;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
    }
    button:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: 1px solid #d9d9d9;
    }
  }

  .product_info__content__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d9d9d9;
    th,
    td {
      border: 1px solid #d9d9d9;
      padding: 10px;
    }
    td:first-child {
      width: 30%;
    }
  }
  .product-cart {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
  }

  .product-desc {
    .product_info__content__desc {
      width: 100%;
      padding: 15px;
      max-height: 800px;
      overflow: auto;
    }
  }

  .product_suggest_wrap {
    --columns: 4;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @media screen and (max-width: 1279px) {
      --columns: 3;
    }

    @media screen and (max-width: 990px) {
      --columns: 2;
    }

    @media screen and (max-width: 600px) {
      --columns: 1;
    }
  }
}
