header.header-sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
  background-color: #fff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .header-wrap ul a {
    color: #333 !important;
  }
}
header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 15px 0;
  transition: all 0.25s linear;

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.25s linear;
      gap: 25px;
      a {
        color: #fff;
        transition: all 0.2s ease;
        &:hover {
          color: #000;
        }
      }
      li:last-child {
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }
  .header-logo {
    width: 200px;
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  .header-menu .close-menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.25s linear;
    &:hover {
      transform: rotateZ(180deg);
      transition: all 0.25s linear;
    }
  }

  .open-menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.25s linear;
    &:hover {
      transform: scale(1.1);
      transition: all 0.25s linear;
    }
  }
  @media screen and (max-width: 1024px) {
    .header-wrap {
      ul {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4rem 0 0 2rem;
        background-color: #eee;
        z-index: 9999;
        li:last-child {
          margin-left: 0;
        }
        a {
          color: #000 !important;
        }
      }
    }
    .header-menu .close-menu {
      display: block;
    }
    .open-menu {
      display: block;
    }
  }
}
