html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
body {
  width: 100%;
  overflow-x: hidden;
}
header,
footer,
main {
  width: inherit;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
#container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
}
iframe {
  border: unset;
  overflow: unset;
  overflow-clip-margin: unset;
}