#shop {
  .ant-drawer-content-wrapper {
    z-index: 99990;
  }
  .list-products {
    --columns: 5;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @media screen and (max-width: 1279px) {
      --columns: 4;
    }

    @media screen and (max-width: 1024px) {
      --columns: 3;
    }

    @media screen and (max-width: 768px) {
      --columns: 2;
    }

    @media screen and (max-width: 600px) {
      --columns: 1;
    }
  }

  .shop_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .list-products {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 100px;
  }
}
