#shop {
  padding: 60px 0px 100px 0px;

  .list-products {
    --f-columns: 3;
    --f-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
  }

  .list-products > .product {
    margin-left: var(--f-gap);
    margin-bottom: var(--f-gap);
    width: calc((100% / var(--f-columns)) - var(--f-gap));
  }

  .shop_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .list-products {
    width: 70%;
    margin-top: 35px;
  }

  .filters {
    width: 30%;
    padding-left: 30px;
    border-left: 1px solid #e5e5e5;

    .ant-form-item-label{
      font-weight: bold;
    }
  }
}
